@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Zoo Management System!</h1>
    <h2><b>Upcoming events</b></h2>
<ol>
    @foreach (var evt in Model.Events.Where(e => e.ETime.Date >= DateTime.Today))
    {
        <li>
           <div style="display: inline-block;">
            <h2 style="display: inline-block; margin: 0;">@evt.Title</h2>
            <p style="display: inline-block; margin: 0 0 0 10px;">Description: @evt.Description</p>
            <p style="display: inline-block; margin: 0 0 0 10px;">Time: @evt.ETime</p>
        </div>
        </li>
    }
</ol>
</div>

